.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #ADD8E6; */
  background: linear-gradient(to bottom, #add8e6, #90ee90);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.button {
  border-radius: 5px;
  transition: background 0.2s linear;
  background: #00b288;
  height: 31.5px;
  width: 100px;
  &:after {
    position: absolute;
    background: rgba(black, 0.2);
    transform: scale(0);
    height: 500px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-radius: 50%;
  }
  &:not(:active) {
    &:after {
      animation: ripple 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    background: darken(#00b288, 5%);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-area {
  margin-top: 15%;
  height: 25px;
  width: 250px;
}

.strikethrough {
  text-decoration: line-through;
  color: #c5c5c5;
}

.show-list {
  background-color: #b4e9f7;
  height: 60px;
  display: flex;
  margin-top: 20px;
  font-size: 30px;
  overflow: auto;
}

.delete-task-button {
  text-align: right;
}

.eityperc {
  width: 80%;
  overflow: auto;
}

.marginLeft {
  margin-left: auto;
  width: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

.sixty {
  width: 60px;
  margin-top: auto;
  margin-bottom: auto;
  color: rgb(255, 0, 0);
}

.form__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  color: black;
}

.form__input {
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  height: 25px;
  border-bottom: 0.3rem solid transparent;
  width: 250px;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
